.idea/
/nbproject/

/src/app/user/routes.php
/src/app/user/di.php
/src/app/user/Core/*
!/src/app/user/Core/.gitkeep
/src/app/user/Entity/*
!/src/app/user/Entity/.gitkeep
/src/app/user/Handler/*
!/src/app/user/Handler/.gitkeep
/src/app/user/Helper/*
!/src/app/user/Helper/.gitkeep

/src/config/user/*
!/src/config/user/.gitkeep

/src/db/*
!/src/db/.gitkeep

/src/views/user/*
!/src/views/user/.gitkeep

/vendor/
/src/vendor/
/src/public/bootstrapper.php
/src/public/assets/css/*.css
/src/var/*
!/src/var/.gitkeep

